{% extends 'base.html' %}
{% block content %}
<div>
    <header class="bg-white border-b border-slate-200 sticky top-0 z-10">
        <div class="max-w-6xl mx-auto px-6 h-16 flex items-center justify-between">
            <a href="{% url 'home' %}" class="text-xl font-bold text-slate-900 flex items-center gap-2">
                <span class="material-icons-outlined text-indigo-600">work</span>
                LakshyaIn
            </a>
        </div>
    </header>

    <main class="px-12 my-12 pb-12">
        <form action="{% if not job %} {% url 'create-job' %} {% else %}  {% url 'update-job' job.id %}  {% endif %}"
            method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="space-x-4">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="{{ job.title }}" class="input" />
            </div>
            <div class="space-x-4">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" value="{{ job.description }}" class="input" />
            </div>
            <div class="space-x-4">
                <label for="company-name">Company Name</label>
                <input type="text" id="company-name" name="company_name" value="{{ job.company_name }}" class="input" />
            </div>
            <div class="space-x-4">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" value="{{ job.location }}" class="input" />
            </div>
            <div class="space-x-4">
                <label for="salary">Salary</label>
                <input type="number" id="salary" name="salary" value="{{ job.salary }}" class="input" />
            </div>
            <div class="space-x-4">
                <label for="logo">Logo</label>
                <input type="file" accept=".png" id="logo" name="logo" class="file-input" />
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </main>
</div>
{% endblock %}
