{% extends 'base.html' %}
{% block content %}
<div class="p-8">
    <form action="{% url 'register-user' %}" method="POST">
        {% csrf_token %}
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Registration Form</legend>

            <label class="label">Username</label>
            <input type="text" name="username" class="input" placeholder="johndoe123" />

            <label class="label">Password</label>
            <input type="password" name="password" class="input" />

            <button type="submit" class="btn btn-secondary">Register</button>
        </fieldset>
    </form>
</div>

{% endblock %}
